/*
body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

header {
  width: 80%;
  min-height: 50px;
  padding: 0px 0px 50px 0px;
}
*/